<!-- <app-directives></app-directives> -->
<!-- <app-star
  *ngFor="let rating of ratings"
  [rating]="rating"
  (starClick)="onStarClick($event)"
></app-star> -->
<!-- <app-components-decoupling></app-components-decoupling> -->

<!-- <app-lifecycle-hooks>
  <p class="error">hello</p>
</app-lifecycle-hooks> -->

<!-- <app-structural-directive
  [user]="user"
  [users]="users"
></app-structural-directive> -->

<!-- <app-custome-directives></app-custome-directives> -->

<!-- <app-switch-case1></app-switch-case1> -->

<!------------------------------ routing ------------------------------------------->
<!-- <app-navbar></app-navbar>
<router-outlet></router-outlet> -->

<!----------------------------- observables ------------------------->
<!-- <app-todo></app-todo> -->
<app-convas></app-convas>
